<input
  #todoInput
  type='text'
  autofocus='autofocus'
  (keyup)="onKeyUp($event)"
/>
<button (click)="addTodo(todoInput.value)">Add</button>
<br/>
<br/>

TODO LIST:
<ul class="todo-list">
  <li
      *ngFor="let item of filteredTodoList; index as i"
      style="margin: 0 10px"
  >
    <input
      type="checkbox"
      [checked]="item.status === TODO_STATUS.DONE"
      (change)="onStatusChange(i)"
    />
    <span style="padding: 0 20px">{{item.label}}</span>
    <button (click)="deleteTodo(item.id)">Delete</button>
  </li>
</ul>

Filter:
<app-status-filter
  [(filter)]="filterStatus"
></app-status-filter>
