<input #todoInput 
  type='text' 
  autofocus='autofocus' 
  (keyup)="onKeyUp($event)"
/>
<button (click)="addTodo()">Add</button>
<br/>
<br/>

TODO LIST: 
<ul class="todo-list">
  <li *ngFor="let item of filteredTodoList; index as i">
    <input 
      type="checkbox" 
      [checked]="item.status === TODO_STATUS.DONE" 
      (change)="onStatusChange(i)"
    />
    {{item.label}}
  </li>
</ul>

Filter:
<input id="all" type="radio" name="filter" />
<label for="all">ALL</label>

<input id="active" type="radio" name="filter" />
<label for="active">ACTIVE</label>

<input id="done" type="radio" name="filter" />
<label for="done">DONE</label>
